[submodule "external/motion"]
	path = external/motion
	url = https://github.com/framer/motion
[submodule "external/NGraphics"]
	path = external/NGraphics
	url = https://github.com/netonjm/NGraphics
[submodule "external/FigmaSharp"]
	path = external/FigmaSharp
	url = https://github.com/netonjm/FigmaSharp
[submodule "external/LiteForms"]
	path = external/LiteForms
	url = https://github.com/netonjm/LiteForms
